{
  "active": "default",
  "profiles": {
    "default": {
      "cpu_threads": {{ ya_provider_hardware.cpu_threads }},
      "mem_gib": {{ ya_provider_hardware.mem_gib }},
      "storage_gib": {{ ya_provider_hardware.storage_gib }}
    }
  }
}
