[Unit]
Description=ya-provider for {{ ya_provider_subnet }}
After=network.target

[Service]
Type=simple
WorkingDirectory={{ ya_provider_dir }}
Environment="XDG_RUNTIME_DIR={{ ya_provider_dir }}/runtime_dir"
ExecStart={{ ya_provider_dir }}/run.sh
TimeoutStartSec=10m
LimitNOFILE=10000
RuntimeMaxSec=24h
Restart=always

[Install]
WantedBy=default.target
